<!-- <div class="container">
	<div class="user-list">
		<div class="user" *ngFor = "let user of users">
		  <h1>{{ user.name }}</h1>
		  <h3>"{{ user.email }}"</h3>
		</div>
	</div>
</div>
 -->
 <div class="container">
 	<div class="row">
		 <div class="form-group">
		  <label for="usr">Name:</label>
		  <input type="text" class="form-control" id="usr">
		</div>
		<div class="form-group">
		  <label for="pwd">Password:</label>
		  <input type="password" class="form-control" id="pwd">
		</div>
		<button type="button" class="btn">Login</button>
 	</div>
 </div>